<footer class="bg-dark text-white py-6">
  <div class="container mx-auto text-center">
    <p>&copy; 2024 <a class="hover:underline" href="https://urcalab.com">Urca Lab</a>. Todos los derechos reservados.</p>
  </div>
</footer>