<header class="bg-primary py-4 px-32 text-slate-400">
  <div class="container flex justify-between items-center">
    <img src="/images/logo.png" alt="Logo" class="h-12 rounded-lg">

    <nav class="flex space-x-8 px-4 border border-slate-400 rounded-full">
      <a href="#contact" class="hover:text-white px-4 py-2">Filosofía</a>
      <a href="#contact" class="hover:text-white px-4 py-2">Proyectos</a>
      <a href="#contact" class="hover:text-white px-4 py-2">Contacto</a>
    </nav>

    <div>
      <a href="#contact" class="bg-slate-100 text-slate-900 rounded-full px-4 py-2">Iniciar sesión </a>
    </div>
  </div>
</header>